@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.navbar-nav a {
  margin-right: 30px;
  color: black;
  font-size: 17px;
}

.navbar-nav .join-button a {
  padding-top: 2px;
}


.e-trans {
    background-image: url('energ/aerial-shot-field-covered-palm-trees-bushes-sunlight.jpg'),
    linear-gradient(3deg, #000 2.58%, rgba(0, 0, 0, 0.00) 91.73%);
    width: 100%;
    padding: 230px 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    background-blend-mode: multiply;
}

.e-trans h1 {
    background: linear-gradient(114deg, #14e04e 32.75%, rgb(70, 96, 141) 107.45%, rgba(255, 255, 255, 0.00) 107.45%);
    text-align: center;
    text-shadow: 0px 4px 4px #0216252e;
    font-size: 64px;
    font-weight: 800;
    line-height: 110.767%;
    letter-spacing: -3.2px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.e-trans p, .e-con i {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 90.767%;
    letter-spacing: -1.68px;
}

.e-trans p {
    padding-top: 20px;
}

.icon-wrapper {
    padding-top: 20px;
}

.e-con {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* carbon */

#nextSection {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

h2 .highlight {
  color: #067827;

}

.c-carbon h2 {
  color: #161616;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-weight: 800;
  line-height: 90.767%;
  letter-spacing: -3.2px;
}

/* image carbon */

.e-carbon {
  margin-top: 400px;
}

.e-carbon-img {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;
  justify-content: flex-end;
}
.e-carbon-text {
  width: 500px;
  border-radius: 0px 0px 0px 0px;
  padding: 50px;
  font-size: 15px;
  font-weight: 500;
}

.e-carbon-text p {
  padding-bottom: 20px;
}
#button-order {
  border-radius: 4px;
}
.e-carbon-text h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 90.767%;
  letter-spacing: -1.2px;
  margin-bottom: 20px;
}
/* image solar */
.e-solar{
  margin-top: 200px;
}

/* commercial */
.e-commercial {
  display: flex;
  align-items: center;
}

.e-commercial-text h2 {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 800;
  line-height: 90.767%;
  letter-spacing: -1.2px;
  margin-bottom: 100px;
}

.e-commercial-row .card-text {
  text-align: justify;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 40px;
}
.e-commercial-row .card-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.e-commercial-row a {
  border-radius: 6px;
}
.e-video iframe {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 100px;
}

.e-video h3 {
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}


  /* Expert */
  .e-expert {
    display: flex;
    align-items: center;
    margin-top: 250px;     
  }                                                        
  .e-expert h2 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .e-expert p {
    margin-top: 50px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .e-expert a  {
    border-radius: 6px;
    
  }

  .forms-talk {
    margin: 0 auto;
    padding-top: 20px;
  }
  .e-video {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
    width: 1220px;
    height: 600px;
  }
  /* Media query for mobile devices */
  @m.e-carbon-textonly screen and (max-width: 500px){

    .e-trans {
      padding-left: 100px !important;
      padding-right: 100px !important;
      /* other styles */
  }
    .e-trans {
      text-align: center;
      font-size: 16px; /* adjust as needed */
      font-style: normal;
      font-weight: 400; /* adjust as needed */
      line-height: 1.6; /* adjust as needed */
      letter-spacing: -1.68px;
    }

    .e-trans h1 {
      font-size: auto;
      font-style: normal;
      font-weight: 800;
    }
    .reduce h2 {
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
    }
    .c-carbon h2 {
      font-size: auto;
      font-style: normal;
      font-weight: 800;

    }
    .e-video iframe {
      display: flex;
      align-items: center;
      width: 520px;
      height: 300px;
    }
    .e-carbon-text {
      
    }
  }