* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    font-weight: 800;
}

p {
    font-weight: 500;
}

body {
    background-color: #fff;
    color: black;
    font-family: sans-serif;
}

/* tesla-navtab ################################# */

.navtab-container {
    background-color: #212529;
}

.tesla-tab {
    font-weight: 700;
    font-family: sans-serif;
    margin: 8px 30px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

/* models1-content ################################ */

.models1-content {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0px 0px;
}

.models1-content h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    font-family: Ubuntu;
    font-weight: 1000;
}

.models1-content h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

.models1-content h5 {
    font-size: 17px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

/* models2-image - section ############################## */

.models2-image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #ddd; */
    padding: 5px 0px;
    margin: 5px 0px;
}

.models2-image-section .models2-image img {
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
}

.models2-image-section h3 {
    color: #fff;
    font-size: 25px;
    /* padding: 0px 0px;
    margin-bottom: 0px; */
}

.models2-image-section h4 {
    color: #fff;
    font-size: 15px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

/* models3-specs #17b890 ###################################### */

.models3-specs {
    background-color: #ddd;
    padding: 20px 10px;
    margin: 0px;
}

.models3-specs .models3-specs-row {
    margin: 0px 30px;
    padding: 30px 10px;
    
}

.models3-specs h2 {
    color: #198754;
    font-size: 30px;
    padding-bottom: 5px;
}


.models3-specs p {
    font-size: 20px;
    padding-bottom: 15px;
}

/* models4-details ###################################### */

.models4-details-section {
    /* background-color: #e1e0dc; */
    padding: 20px 10px;
    margin: 0px;
}

.models4-details-section .models4-details-row {
    margin: 0px 20px;
    padding: 10px 15px;
    
}

.models4-details-section h2 {
    color: #198754;
    font-size: 25px;
    padding-bottom: 5px;
    /* margin-left: 140px; */
}

.models4-details-section p {
    font-size: 15px;
    padding-bottom: 5px;
    /* margin-right: 50px; */
}

.models4-details-btn {
    width: 70%;
    margin-left: 0px;
    /* display: flex;
    justify-content: center;
    color: #fff;
    padding: 5px 0px; */
}


/* models5-fullspecs ##############################  */ 

.mstable-container {
    background-color: #212529;
    padding: 20px 40px;
    margin: 0px;
}

.mstable-container img {
    border-radius: 5px;
    margin: 10px 20px;
}

.mstable-container .mstable-row {
    margin: 0px 40px;
    padding: 20px 10px;  
}

.mstable-container h1 {
    color: #fff;
    font-size: 35px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.mstable-container h4 {
    color: #fff;
    font-size: 15px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.mstable-container hr {
    color: #fff;
    width: 70%;
}

.mstable-btn-row a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    width: 40%;
}

/* Model S Plaid ################################# */

/* plaid1-content ################################ */

.plaid1-content {
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px 0px;
}

.plaid1-content h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    font-family: Ubuntu;
    font-weight: 1000;
}

.plaid1-content h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

.plaid1-content h5 {
    font-size: 17px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

/* plaid2-image - section ############################## */

.plaid2-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #ddd; */
    padding: 20px 10px;
    margin: 10px 0px;
}

.plaid2-section .plaid2-image img {
    max-width: 100%;
    height: auto;
    /* margin: 2px 5px; */
}


.plaid2-section .plaid2-row {
    margin: 0px 10px;
    padding: 10px 0px;  
}

.plaid2-section h3 {
    color: #fff;
    font-size: 25px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.plaid2-section h4 {
    color: #fff;
    font-size: 15px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.plaid2-section hr {
    color: #fff;
    width: 70%;
}

.plaid2-btn {
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px 0px;
    height: 100%;
}

.plaid2-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}




