* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    font-weight: 800;
}

p {
    font-weight: 500;
}

body {
    background-color: #fff;
    color: black;
    font-family: sans-serif;
}

/* rivian1-content ################################ */

.rivian1-content {
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px 0px;
}

.rivian1-content h3 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    font-family: Ubuntu;
    font-weight: 1000;
}

.rivian1-content h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

.rivian1-content h5 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0px;
    margin-bottom: 2px;
    /* font-family: Ubuntu;
    font-weight: 1000; */
}

/* rivian1 - section - image ############################## */

.rivian1-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e1e0dc;
    padding: 30px 10px;
    margin: 0px 0px;
}

.rivian1-section .rivian1-image img {
    border-radius: 5px;
    position: relative;
    /* background: url(./Models/images/tesla1_v3.jpg) no-repeat center center/cover;
    position: relative;
    height: 80vh;
    width: 100vw;   */
}

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

    /* padding: 20px 50px;
    margin: 5px 100px; */

.rivian1-section .rivian1-row {
    margin: 0px 10px;
    padding: 20px 0px;  
}

.rivian1-section h3 {
    color: #fff;
    font-size: 25px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.rivian1-section h4 {
    color: #fff;
    font-size: 15px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.rivian1-section hr {
    color: #fff;
    width: 70%;
}

.rivian1-btn {
    display: flex;
    justify-content: center;
    color: black;
    padding: 5px 0px;
    height: 100%;
}

.rivian1-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

/* rivian1-specs ###################################### */

/* .rivian1-specs {
    background-color: #e1e0dc;
    padding: 20px 10px;
    margin: 0px;
}

.rivian1-specs .rivian1-specs-row {
    margin: 0px 50px;
    padding: 50px 10px;
    
}

.rivian1-specs h2 {
    color: #17b890;
    font-size: 30px;
    padding-bottom: 5px;
}


.rivian1-specs p {
    font-size: 20px;
    padding-bottom: 15px;
} */


/* rivian2 - section ##############################  */

.rivian2-specs {
    background-color: #212529;
    padding: 20px 10px;
    margin: 0px;
    
}

.rivian2-specs .rivian2-row {
    margin: 0px 100px;
    padding: 20px 10px;
    /* border: 2px solid; */
}

.rivian2-specs h1 {
    color: #fff;
    font-size: 25px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

/* .caption-section h6 {
    font-size: 20px;
    padding-bottom: 10px;
} */

.rivian2-specs h4 {
    color: #fff;
    font-size: 15px;
    padding: 2px 0px;
    margin-bottom: 2px;
}

.rivian2-specs hr {
    color: #fff;
    width: 70%;
}

.rivian2-btn {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 5px 0px;
}

