* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    font-weight: 800;
}

p {
    font-weight: 500;
}

body {
    background-color: #fff;
    color: black;
    font-family: sans-serif;
}

/* navbar  */

.navbar-nav a {
    margin-right: 30px;
    color: black;
    font-size: 17px;
}

.navbar-nav .join-button a {
    padding-top: 2px;
}

/* tesla-navtab ################################# */

.tesla-tab {
    font-weight: 700;
    font-family: sans-serif;
    margin: 8px 30px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 1px;
    padding-bottom: 1px;   
}

.tesla-tab a {
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* order design-section ############################# */

.btn-group {
    /* margin: 5px 75px; */
    width: 100%;

}

.order-header {
    margin: 50px auto;
    /* max-width: 600px; */
    max-width: 100%;
    background: #fff;
}

.order-box {
    
    color: #333;
    padding: 30px 2px;
    margin: 10px 0px;
}



.order-box h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.order-box h4 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: black;
}

.btn-col {
    width: 100%;
}

.motor-col h3 {
    font-size: 20px;
    margin: 25px 10px;
    color: black;
}

.motor-col h4 {
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin: 25px 0px;
    padding: 10px;
}

.paint-col h3 {
    font-size: 20px;
    margin: 50px 10px;
}

/* ul.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  ul.list-unstyled li {
    margin: 0; 
    padding: 0; 
  } */

  .paint-col .img-paint ul {
    margin: 5px 8px;
  } 

.img-paint {
    margin-right: 2px;
    padding: 0px;
}

.paint-col ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-right: 0px;
}

.paint-col a{
    margin-right: 0px;
}

.paint-col img {
    margin-right: 2px;
    padding: 0px;
}

.interior-col ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-right: 0px;
}

.interior-col h3 {
    font-size: 20px;
    margin: 50px 10px;
}

.wheels-col h3 {
    font-size: 20px;
    margin: 50px 10px;
}

.wheels-col ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-right: 0px;
}

.order-col img {
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* payment-section ####################################### */

.payment-section {
    background-color: #f5f5f5;
    padding: 40px 25px;
}

.payment-col h4 {
    font-size: 20px;
    color: black;
    margin: 5px;
}

.payment-col h5 {
    font-size: 17px;
    margin: 5px;
}

/* account-section ####################################### */

a {
    text-decoration: none;
}

.form-col {
    /* margin: 5px; */
    padding: 10px;
}

.account-container {
    margin: 50px auto;
    max-width: 1200px;
    background-color: #f5f5f5;
    padding: 20px 30px;
    border-radius: 5px;
}

.form-box {
    background: #fff;
    color: #333;
    padding: 20px;
}

.form-box h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}

.form-box h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.form-box .form-group {
    margin-top: 15px;
}

.form-box .form-group label {
    display: block;
    color: #666;
}

.form-box .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-box button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #198754;
    color: #fff;
    cursor: pointer;
}

.form-box button:hover {
    background: green;
}

.form-box .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}


.form-box .form-wrap {
    margin-top: 15px;
}

.form-box .form-wrap input {
    padding: 10px;
}

/* emailer ########################### */

.emailer-container {
    background-color: #212529;
    padding: 20px 25px 20px 25px;
}

.emailer-col h1 {
    font-size: 35px;
    font-family: sans-serif;
    color: #fff;
    margin: 20px 50px;
    text-align: center;
}

.box-col input { 
    width: 100%;
    margin: 30px 5px;
}

.emailer-btn button {
    width: 50%;
    margin: 30px 5px;
}

/* footer #################### */  

.followus-col ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.followus-col ul i {
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* margin-right: 100px; */
    margin: 5px 20px;
}

/* .followus-col a {
    margin-right: 0px;
} */

.followus-col hr {
    width: 100%;
}

.footer h3 {
    font-size: 25px;
}

.footer h2 {
    font-size: 17px;
    color: black;
}

.footer ul a {
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
.footer ul i:hover {
    color: #17b890;
  }

.footer ul, p {
    font-size: 10px;
}

.footer .copyright-container p {
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .footer-row .footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
              
    }
}

@media only screen and (max-width: 991px) {
    .footer-row .footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
              
    }
}
