* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    font-weight: 800;
}

p {
    font-weight: 500;
}

body {
    background-color: #fff;
    color: black;
    font-family: poppins;
}

/* navbar  */

.navbar-nav a {
    margin-right: 30px;
    color: black;
    font-size: 17px;
}

.navbar-nav .join-button a {
    padding-top: 2px;
}

/* shop ############################## */

/* .shop-container {
    margin: 20px auto;
} */

.container {
    width: 1000px;
    margin: 10px auto;
    transition: 0.5s;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header h1 {
    font-size: 25px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping i {
    width: 20px;
    font-size: 30px;
}

header .shopping span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 100%;
    padding: 3px 10px;
    height: 20px;
    width: 15px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #343541; 
    height: 100vh;
    transition: 0.5s;
    margin: 10px 0px 0px;
}

/* #453E3B */

.card button {
    color: #fff;
    background-color: #198754;
    width: 200%;
    padding: 5px;
}

.card {
    max-height: 900px; /* Adjust the height as needed */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.checkout {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.total, .closeShopping, #checkoutButton {
    flex: 1;
    margin: 2px;
    max-height: 900px;
}

/* .total, .closeShopping {
    padding: 5px;
} */



.card h1 {
    color: #198754;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}



.card .checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkout div {
    background-color: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child(2){
    background-color: #1c1f25;
    color: #fff;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.list .item {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img {
    width: 90%;
}

/* .list .item. .title {
    font-weight: 600;
} */

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #212529;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 80%;
}

.listCard button {
    width: 20px;
    margin: 5px;
    background-color: #198754;
    border: 1px solid #198754;
    border-radius: 5px;
}

.listCard .count {
    margin: 0 10px;
}

/* checkout ##################### */

a {
    text-decoration: none;
}

.form-col {
    /* margin: 5px; */
    padding: 10px 20px;
}

.account-container {
    margin: 50px auto 5px;
    max-width: 800px;
    /* background-color: #f5f5f5; */
    padding: 20px 30px;
    border-radius: 5px;
}

.form-box {
    background: #fff;
    color: #333;
    padding: 20px;
}

.form-box h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}

.form-box h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.form-box .form-group {
    margin-top: 15px;
}

.form-box .form-group label {
    display: block;
    color: #666;
}

.form-box .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-box button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    /* background: #212529; */
    color: black;
    cursor: pointer;
}

.form-box button:hover {
    background: #198754;
}

.form-box .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}


.form-box .form-wrap {
    margin-top: 15px;
}

.form-box .form-wrap input {
    padding: 10px;
}

.card-button {
    margin-top: 50px;
    margin-bottom: 0px;
}






/* .form-box button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: black;
    cursor: pointer;
}

.card-button button {
    margin-top: 70px;
    width: 100%;
} */



/* emailer ########################### */

.emailer-container {
    background-color: #212529;
    padding: 20px 25px 20px 25px;
    margin-top: 100px;
}

.emailer-col h1 {
    font-size: 35px;
    font-family: sans-serif;
    color: #fff;
    margin: 20px 50px;
    text-align: center;
}

.box-col input { 
    width: 100%;
    margin: 30px 5px;
}

.emailer-btn button {
    width: 50%;
    margin: 30px 5px;
}

/* footer #################### */  

.followus-col ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.followus-col ul i {
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* margin-right: 100px; */
    margin: 5px 20px;
}

/* .followus-col a {
    margin-right: 0px;
} */

.followus-col hr {
    width: 100%;
}

.footer h3 {
    font-size: 25px;
}

.footer h2 {
    font-size: 17px;
    color: black;
}

.footer ul a {
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
.footer ul i:hover {
    color: #17b890;
  }

.footer ul, p {
    font-size: 10px;
}

.footer .copyright-container p {
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .footer-row .footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
              
    }
}

@media only screen and (max-width: 991px) {
    .footer-row .footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
              
    }
}
